@CHARSET "UTF-8";
html, body, h1, h2, h3, h4, h5, h6, hr, p, iframe, dl, dt, dd, ul, ol,
	li, pre, form, fieldset, button, input, textarea, th, td {
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFF;
}

body, button, input, select, textarea, fieldset, label {
	font: 12px/1.5 "\5FAE\8F6F\96C5\9ED1", Arial;
	color: #666;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

ul, li {
	list-style: none;
}

fieldset, img {
	border: 0 none;
}

img {
	-ms-interpolation-mode: bicubic;
	color: #999;
}

cite, strong, em, i, dfn, address, var {
	font-style: normal;
	font-weight: normal;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, select, textarea, button {
	font-size: 100%;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

button, input[type=button], input[type=submit] {
	cursor: pointer;
}

input[type=search] {
	-webkit-appearance: textfield;
}

textarea {
	overflow-y: auto;
	resize: vertical;
}

.clear, .clrfix {
	zoom: 1;
}

.clear:after, .clrfix:after {
	content: ' ';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.hidden, .hide {
	display: none;
}

a {
	text-decoration: none;
	outline: none;
	blr: expression(this.onFocus = this.blur ());
}

a:focus {
	outline: none;
	-moz-outline: none;
}

* html, * html body {
	background-image: url(about:blank);
	background-attachment: fixed;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.orange {
	color: #e10303;
}

.gray3 {
	color: #333;
}

.gray6 {
	color: #666;
}

.gray9 {
	color: #999;
}

.blue {
	color: #2af;
}

.red {
	color: #d00;
}

.passport-icon {
	background-image: url(../../Images/Login/passport-icon.png);
	background-repeat: no-repeat;
}

.g-logo-top {
	width: 960px;
	height: 63px;
	margin: 0 auto 10px;
	padding-top: 35px;
}

.g-logo-top span {
	padding-top: 44px;
	font-size: 14px;
}

.g-logo-top span a:hover {
	color: #e10303;
}

.g-logo-top span a.blue:hover {
	color: #2af;
	text-decoration: underline;
}

.g-logo-width {
	width: 990px;
}

.g-logo-width span a {
	color: #bbb;
}

.g-copyrightCon {
	padding-top: 30px;
}

.g-links {
	text-align: center;
	padding: 5px 0;
}

.g-links a {
	color: #666;
}

.g-links a:hover {
	color: #e10303;
	text-decoration: underline;
}

.g-links s {
	border-left: 1px solid #ddd;
	width: 0;
	height: 12px;
	margin: 0 11px 0 15px;
	overflow: hidden;
	font-size: 0;
	display: inline-block;
	position: relative;
	top: 1px;
}

.g-copyright {
	text-align: center;
	color: #999;
}


/*登录注册的头部样式*/
.header-wrap { background-color: #FFF; width: 100%;}
.public-head-layout { height: 100px;}
/* 站点logo */
.public-head-layout .site-logo { width: 240px; height: 60px; float: left; margin: 15px 10px auto 0;}
.public-head-layout .site-logo img { max-width: 242px; max-height: 84px;}
.header-wrap { width: 99%; height: 100px; border-bottom: solid 2px #F5F5F5; margin: 5px auto 0 auto;}
.public-head-layout { height: 80px;}
.header-wrap .wrapper { width: 1000px;margin:0 auto;}

.public-head-layout .site-logo { margin: 10px 0 0 0;}
.public-head-layout .nc-login-now { font-size: 14px; color: #AAA; line-height: 24px; float: right; height: 24px; margin-top: 50px;}
.public-head-layout .nc-login-now a { font-weight: 600; margin-left: 4px;}
.public-head-layout .nc-regist-now { font-size: 14px; color: #AAA; line-height: 20px; float: right; height: 40px; margin-top: 30px;}
.public-head-layout .nc-regist-now span { vertical-align: top; display: inline-block; *display: inline; *zoom: 1;}
.public-head-layout .nc-regist-now .avatar { width: 40px; height: 40px; margin-right: 6px; border-radius: 100%;}
.public-head-layout .nc-regist-now .avatar img { width: 40px; height: 40px; border-radius: 100%;}
.public-head-layout .nc-regist-now a { font-weight: 600; margin-left: 4px;}
/*注册样式*/
.nc-register-bg { background: #FAFAFA url(../../images/register_bg.png) repeat 50% 50% ; width: 100%; height: 680px; overflow: hidden;}
.nc-register-box { filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#26000000', endColorstr='#26000000');background:rgba(0,0,0,0.15); width: 860px; height: 560px; padding: 10px; margin: 60px auto;}
.nc-register-layout { background-color: #FFF; display: block; width: 820px; height: 520px; padding: 19px; border: solid 1px #CCC; overflow: hidden;}
.nc-register-layout .left { width: 600px; height: 520px; float: left;}
.nc-register-mode { width: 580px;}

