<style>
.col-sm-2 {
    width: 16.66666667%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
.col-sm-1 {
    width: 8.33333333%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
.form-group {
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 15px;
}
.control-label{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 7px;
	margin-bottom: 0;
	text-align: right;
}


.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    margin-top:6px;
}
.form-group{display: table;width: 100%;}
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}
label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.form-group .control-label {width:80px;}
</style>
<dl>
	<dt>商品规格：</dt>
	<dd>
		<input name="init_mid" type="hidden" value="{$goods_info.mid}"/>
		<div class="form-group">
			<label for="" class="col-sm-2 control-label">模型</label>
			<div class="col-sm-2">
				<select name="mid" class="form-control">
					<option value="0">选择模型</option>
				</select>
			</div>
		</div>
		<div id="extend"></div>
	</dd>
</dl>