<header class="main-header"> 
	<a href="/admin" class="logo"> 
		<img src="/Static/Admin/Images/admin_logo.png" height="50px"/>
	</a> 
	<nav class="navbar navbar-static-top"> 
<!-- 		<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span> </a>  -->
		<div>
			<ul class="nav navbar-nav">
				<volist name="module_list" id="ml">
					<li <if condition="$module eq $key">class="active"</if>>
					<a href="{$ml.url}">{$ml.lang}</a>
					</li>
				</volist>
			</ul>
		</div>
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<li class="user user-menu"> <a href="#myModal" data-toggle="modal"> <img src="/Static/Admin/Images/user2-160x160.jpg" class="user-image" alt="User Image"> <span class="hidden-xs">{$Think.session.admin_name}</span> </a>
				</li>
				<li> <a href="{:U('Public/logout')}" data-toggle="control-sidebar"><i class="fa fa-power-off"></i></a> </li>
			</ul>
		</div>
	</nav>
</header>
<div class="modal fade" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">修改密码</h4>
			</div>
			<div class="modal-body">
				<form name="myform" id="myform" class="form-horizontal" action="" method="post">
					<div class="box-body">
						<div class="form-group">
							<label class="col-sm-2 control-label">原始密码</label>
							<div class="col-sm-8">
								<input class="form-control" type="password" name="old_password">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">新密码</label>
							<div class="col-sm-8">
								<input class="form-control" type="password" name="password">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">重复新密码</label>
							<div class="col-sm-8">
								<input class="form-control" type="password" name="re_password">
							</div>
						</div>
					</div>
				</form>
				<div id="message" role="alert" style="display:none;"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary" id="tijiao">提交</button>
			</div>
		</div>
	</div>
</div>
<script>
$("#tijiao").click(function(){
	var old_password = $("input[name='old_password']").val();
	var password = $("input[name='password']").val();
	var re_password = $("input[name='re_password']").val();
	$.post("{:U('Admin/updatePassword')}",{old_password:old_password,password:password,re_password:re_password},function(res){
		if(res.status==1){
			$("#message").prop("class","alert alert-success");
			$("#message").html(res.info);
			$("#message").show();
			setTimeout(function(){
				$("#myModal").modal('hide');
			},1000)
		}else{
			$("#message").prop("class","alert alert-danger");
			$("#message").html(res.info);
			$("#message").show();
		}
		
	});
});

</script>