<div class="dLeft-history">
	<div id="_viewll">
		<div class="u-paging"> <a class="prve prve-stop" href="javascript:;"></a> <span> <b>1</b> /<em>1</em> </span> <a class="next" href="javascript:;"></a> </div>
		<h4>浏览历史</h4>
		<div class="d-history-list">
			<ul>
				<li>
					<div class="d-history-info">
						<div class="history-pic"> <a href=" http://www.jiuxian.com/goods-17164.html "
													target="_blank"> <img width="64" height="64"
													alt="53°杏花酒家原浆酒30（青花瓷珍版）1500ml"
													src="http://img07.jximage.com/2014/1018/6a791bf8518a4bca960c355b53ba9e8d2.jpg"> </a> </div>
						<div class="history-dep">
							<p class="history-name"> <a title="53°杏花酒家原浆酒30（青花瓷珍版）1500ml"
														href=" http://www.jiuxian.com/goods-17164.html "
														target="_blank">53°杏花酒家原浆酒30（青花瓷珍版）1500ml</a> </p>
							<p goodid="17164" class="history-pri">￥189</p>
						</div>
						<div class="clear"></div>
					</div>
				</li>
				<div class="clear"></div>
			</ul>
		</div>
	</div>
</div>
