<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>HYYYP</title>
<link rel="shortcut icon" href="favicon.ico">
<link rel="stylesheet" href="/public/forum/css/index.css"type="text/css" media="all">
</head>
<body class="home page page-id-194 page-template page-template-page-homepage page-template-page-homepage-php custom-background" ondragstart="window.event.returnValue=false" oncontextmenu="window.event.returnValue=false" onselectstart="event.returnValue=false">
<header role="banner">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"> </span> <span class="icon-bar"> </span> <span class="icon-bar"> </span> </button>
				<a class="navbar-brand" id="logo" title="HY-PHP" href=""> HY-PHP </a> </div>
			<!-- end .navbar-header -->
			<div class="navbar-collapse collapse">
				<ul id="menu-primary" class="nav navbar-nav navbar-right">
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown"> <a href="http://php.hyphp.cn" class="dropdown-toggle"> HYPHP开发文档 </a> </li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown"> <a href="http://bbs.hyphp.cn" class="dropdown-toggle"> HYBBS开源论坛 </a> </li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown"> <a href="http://blog.hyphp.cn" class="dropdown-toggle"> 博客 </a> </li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown"> <a href="#" class="dropdown-toggle"> 逆天科技 </a> </li>
				</ul>
			</div>
			<!-- end .navbar-collapse --> 
		</div>
		<!-- end .container --> 
	</nav>
	<!-- end .navbar --> 
</header>
<!-- end header -->
<div class="jumbotron">
	<div class="container">
		<div class="splash">
			<div class="content"> <img src="3.png" alt="PatternFly logo" class="wow fadeInDown animated"
          style="visibility: visible; animation-name: fadeInDown;">
				<h1 class="wow fadeIn animated" data-wow-delay="750ms" style="visibility: visible; animation-delay: 750ms; animation-name: fadeIn;"> HY-PHP </h1>
				<p class="description wow fadeIn animated" data-wow-delay="1250ms" style="visibility: visible; animation-delay: 1250ms; animation-name: fadeIn;"> PHP从此简单 </p>
				<div style="
    position: fixed;
    width: 100%;
    bottom: 30px;
    box-sizing: border-box;
    left: 0;
">浙ICP备16018154号-1</div>
			</div>
		</div>
	</div>
	<canvas id="canvas" width="1659" height="425"></canvas>
	<!-- <div id="particles-js"></div> --> 
	
</div>
<script src="/public/lib/hovertreewelcome/hovertreewelcome.js"></script> 
<script type="text/javascript" src="/public/forum/js/welcome.js"></script>
</body>
</html>