<div class="home-focus-layout">
	<div class="banner_bg">
		<div class="banner-img" id="turn">
			<ul class="banner-box" id="bigUl">
				<volist name="slide_list" id="sl">
					<li class="banner_li" _src="url(/Uploads/{$sl.save_path}{$sl.save_name})"
				style="background-color:{$sl.bg_color};"> </li>
				</volist>
			</ul>
			<div class="smallBtn">
				<ul id="small">
					<volist name="index_ad_list" id="il" key="key"> 
					<li <if condition="$key eq 1">class="on" </if>></li>
					</volist>
				</ul>
			</div>
			<div class="jfocus-trigeminy">
				<ul>{:R('AD/output',array(15,''))}</ul>
				<div class="pagination"><span style="opacity: 0.4;"></span><span style="opacity: 1;"></span></div>
				<div style="opacity: 0;" class="arrow pre"></div>
				<div style="opacity: 0;" class="arrow next"></div>
			</div>
		</div>
	</div>
	<div class="right-sidebar">
		<div class="policy">
			<ul>
				<li class="b1">七天包退</li>
				<li class="b2">正品保障</li>
				<li class="b3">闪电发货</li>
			</ul>
		</div>
		<div class="groupbuy">
			<ul style="left: 0px; width: 840px;">
			</ul>
		</div>
		<div class="proclamation">
			<ul class="tabs-nav">
				<li class="">
					<h3>招商入驻</h3>
				</li>
				<li class="tabs-selected">
					<h3>商城公告</h3>
				</li>
			</ul>
			<div class="tabs-panel tabs-hide"> <a href="/seller.php" title="申请商家入驻；已提交申请，可查看当前审核状态。" class="store-join-btn" target="_blank">&nbsp;</a> <a href="/seller.php/Public/login" target="_blank" class="store-join-help"><i class="icon-cog"></i>登录商家管理中心</a> </div>
			<div class="tabs-panel">
				<ul class="mall-news">
					<volist name="mall_news" id="mn">
					<li><i></i><a target="_blank" href="{:U('Article/detail',array('article_id	'=>$mn['article_id']))}" title="{$mn.article_title}">{$mn.article_title}</a>
						<time>({$mn.add_time|date='Y-m-d',###})</time>
					</li>
					</volist>
				</ul>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/Static/Common/jQuery/jquery.SuperSlide.2.1.1.js"></script> 
<script>
    $("#turn").slide({
        titCell: "#small",
        mainCell: "#bigUl",
        effect: "fold",
        autoPlay: true,
        autoPage: true,
        interTime: 4000,
        trigger: "mouseover",
        startFun: function (i) {
            var curLi = $(".banner_li").eq(i);
            if (!!curLi.attr("_src")) {
                curLi.css("background-image", curLi.attr("_src"));
            }
        }
    });
    $("#bigUl").css("width", "100%");
    $("#bigUl").find("li").css("width", "100%");
    
</script> 
