<div class="w1210 store-wall">
	<a class="store-wall-title" href="stores.php" title="前往店铺街">店铺街<span>推荐店铺</span></a>
	<div class="store-wall-content">
		<div class="store-wall-ad">
			<table cellpadding="0" cellspacing="0">
				<tr>
					<td><a href='affiche.php?ad_id=6&amp;uri=%23' target='_blank'><img
							src='data/afficheimg/1453531168427720925.jpg' width='310'
							height='330' border='0' /></a></td>
				</tr>
			</table>
		</div>
		<div id="index-store" class="store-wall-con">
			<div class="store-rec-slide">
				<ul class="store-rec-nav">
					<li class="selected" onclick="qiehuan(0)">热门店铺<i></i></li>
					<li onclick="qiehuan(1)">今日大牌<i></i></li>
				</ul>
				<ul class="store-rec-content">
					<li class="store-rec-pannel">
						<div class="store-con">
							<p
								style="position: absolute; z-index: 0; opacity: 1; display: block;"
								class="store-wall-pannel">
								<a class="store-item  item-row-0 item-col-0"
									href="supplier.php?suppId=5" target="_blank"> <img
									class="store-logo" src="/data/supplier/logo/logo_supplier5.jpg"
									title="L&L" alt="L&L" height="45" width="90">
								</a> <a class="store-item  item-row-0 item-col-1"
									href="supplier.php?suppId=1" target="_blank"> <img
									class="store-logo" src="/data/supplier/logo/logo_supplier1.jpg"
									title="天天果园007" alt="天天果园007" height="45" width="90">
								</a> <a class="store-item  item-row-0 item-col-2"
									href="supplier.php?suppId=7" target="_blank"> <img
									class="store-logo" src="/data/supplier/logo/logo_supplier7.jpg"
									title="金星家纺" alt="金星家纺" height="45" width="90">
								</a> <a class="store-item  item-row-0 item-col-3" href="#"
									target="_blank"> <img class="store-logo"
									src="/data/supplier/ad.jpg" title="虚位以待" alt="虚位以待" height="45"
									width="90">
								</a> <a class="store-item  item-row-0 item-col-4" href="#"
									target="_blank"> <img class="store-logo"
									src="/data/supplier/ad.jpg" title="虚位以待" alt="虚位以待" height="45"
									width="90">
								</a> <a class="store-item store-item-spe item-row-0 item-col-5"
									href="#" target="_blank"> <img class="store-logo"
									src="/data/supplier/ad.jpg" title="虚位以待" alt="虚位以待" height="45"
									width="90">
								</a> <a class="store-item  item-row-1 item-col-0" href="#"
									target="_blank"> <img class="store-logo"
									src="/data/supplier/ad.jpg" title="虚位以待" alt="虚位以待" height="45"
									width="90">
								</a> <a class="store-item  item-row-1 item-col-1" href="#"
									target="_blank"> <img class="store-logo"
									src="/data/supplier/ad.jpg" title="虚位以待" alt="虚位以待" height="45"
									width="90">
								</a> <a class="store-item  item-row-1 item-col-2" href="#"
									target="_blank"> <img class="store-logo"
									src="/data/supplier/ad.jpg" title="虚位以待" alt="虚位以待" height="45"
									width="90">
								</a> <a class="store-item  item-row-1 item-col-3" href="#"
									target="_blank"> <img class="store-logo"
									src="/data/supplier/ad.jpg" title="虚位以待" alt="虚位以待" height="45"
									width="90">
								</a> <a class="store-item  item-row-1 item-col-4" href="#"
									target="_blank"> <img class="store-logo"
									src="/data/supplier/ad.jpg" title="虚位以待" alt="虚位以待" height="45"
									width="90">
								</a> <a class="store-item store-item-spe item-row-1 item-col-5"
									href="#" target="_blank"> <img class="store-logo"
									src="/data/supplier/ad.jpg" title="虚位以待" alt="虚位以待" height="45"
									width="90">
								</a> <a class="store-item  item-row-2 item-col-0" href="#"
									target="_blank"> <img class="store-logo"
									src="/data/supplier/ad.jpg" title="虚位以待" alt="虚位以待" height="45"
									width="90">
								</a> <a class="store-item  item-row-2 item-col-1" href="#"
									target="_blank"> <img class="store-logo"
									src="/data/supplier/ad.jpg" title="虚位以待" alt="虚位以待" height="45"
									width="90">
								</a> <a class="store-item  item-row-2 item-col-2" href="#"
									target="_blank"> <img class="store-logo"
									src="/data/supplier/ad.jpg" title="虚位以待" alt="虚位以待" height="45"
									width="90">
								</a> <a class="store-item  item-row-2 item-col-3" href="#"
									target="_blank"> <img class="store-logo"
									src="/data/supplier/ad.jpg" title="虚位以待" alt="虚位以待" height="45"
									width="90">
								</a> <a class="store-item  item-row-2 item-col-4" href="#"
									target="_blank"> <img class="store-logo"
									src="/data/supplier/ad.jpg" title="虚位以待" alt="虚位以待" height="45"
									width="90">
								</a> <a class="store-item store-item-spe item-row-2 item-col-5"
									href="#" target="_blank"> <img class="store-logo"
									src="/data/supplier/ad.jpg" title="虚位以待" alt="虚位以待" height="45"
									width="90">
								</a> <a class="store-item  item-row-3 item-col-0" href="#"
									target="_blank"> <img class="store-logo"
									src="/data/supplier/ad.jpg" title="虚位以待" alt="虚位以待" height="45"
									width="90">
								</a> <a class="store-item  item-row-3 item-col-1" href="#"
									target="_blank"> <img class="store-logo"
									src="/data/supplier/ad.jpg" title="虚位以待" alt="虚位以待" height="45"
									width="90">
								</a> <a class="store-item  item-row-3 item-col-2" href="#"
									target="_blank"> <img class="store-logo"
									src="/data/supplier/ad.jpg" title="虚位以待" alt="虚位以待" height="45"
									width="90">
								</a> <a class="store-item  item-row-3 item-col-3" href="#"
									target="_blank"> <img class="store-logo"
									src="/data/supplier/ad.jpg" title="虚位以待" alt="虚位以待" height="45"
									width="90">
								</a> <a class="store-item  item-row-3 item-col-4" href="#"
									target="_blank"> <img class="store-logo"
									src="/data/supplier/ad.jpg" title="虚位以待" alt="虚位以待" height="45"
									width="90">
								</a> <a class="store-item store-item-spe item-row-3 item-col-5"
									href="#" target="_blank"> <img class="store-logo"
									src="/data/supplier/ad.jpg" title="虚位以待" alt="虚位以待" height="45"
									width="90">
								</a>
							</p>
						</div>
					</li>
				</ul>
			</div>
			<script>
				function qiehuan(num) {
					Ajax.call('other.php?act=supplier_tag', 'id=' + num,
							qiehuanResponse, 'GET', 'JSON');
				}
				function qiehuanResponse(result) {
					document.getElementById('index-store').innerHTML = result.result;
					$(".store-con img").each(function(k, img) {
						new JumpObj(img, 10);
					});
				}
			</script>
		</div>
	</div>
</div>
