<style>.wrapper{width: 1000px;}</style>
<div class="footer">
	<div id="cti" class="wrapper clearfix">
		<ul>
			<li><span class="line"></span><span class="icon"><img style="width:60px" src="/Static/Seller/Images/7day_60.gif"></span><span class="name">7天退货</span></li>
			<li><span class="line"></span><span class="icon"><img style="width:60px" src="/Static/Seller/Images/pz_60.gif"></span><span class="name">品质承诺</span></li>
			<li><span class="line"></span><span class="icon"><img style="width:60px" src="/Static/Seller/Images/psbf_60.gif"></span><span class="name">破损补寄</span></li>
			<li><span class="line"></span><span class="icon"><img style="width:60px" src="/Static/Seller/Images/jswl_60.gif"></span><span class="name">急速物流</span></li>
			<li class="rf">客服电话：<em class="red">{$set.telphone}</em>  <em class="rgb9">08:00-22:30(周一至周日)</em></li>
		</ul>
	</div>
	<div id="faq">
		<div class="wrapper"></div>
	</div>
	<div id="footer">
		<div class="wrapper">
			<div class="screen clearfix">
<!-- 				<div class="fl right-flag"> -->
<!-- 					<a href="http://www.kxnet.cn/" target="_blank" rel="nofollow"><img -->
<!-- 						src="http://zongheng.dxeee.com/shop/img/credit-flag3.png"></a><a -->
<!-- 						href="http://www.isc.org.cn/" target="_blank" rel="nofollow"><img -->
<!-- 						src="http://zongheng.dxeee.com/shop/img/isc2.png"></a> -->
<!-- 				</div> -->
				<div class="fl about-us">
<!-- 					<p> -->
<!-- 						<a href="">返回首页</a><span>|</span>  -->
<!-- 					</p> -->
					<p>
						<i style="font-style: italic;">Copyright</i> © {$Think.NOW_TIME|date="Y",###} {$set.siteright}&nbsp;<a href="http://www.miibeian.gov.cn/"
							target="_blank" style="color: #666">{$set.icp}</a>
						版权所有 客户服务中心：{$set.telphone}
					</p>
					<p style="font-style: italic;color:#eee;">Powered by <a style="color:#eee;" href="http://www.minshop.net" target="_blank">minshop</a></p>
				</div>
			</div>
		</div>
	</div>
</div>