<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<title>小京东V5 综合网购首选-正品低价、品质保障、配送及时、轻松购物！</title>
<link rel="shortcut icon" href="favicon.ico" />
<link rel="icon" href="animated_favicon.gif" type="image/gif" />
<link rel="stylesheet" type="text/css" href="__PMALL__/Css/common.css" />
<script type="text/javascript" src="__PMALL__/Js/jquery.js"></script>
</head>
<body>
<include file="Public:top"/> 
<include file="Public:header"/>
<include file="Public:nav"/>
<section id="main"> {__CONTENT__}</section>
<include file="Public:right_tool"/>
<include file="Index:site_footer"/>
<script type="text/javascript" src="/Static/Common/Js/echo.min.js"></script>
<script>
    echo.init({
      offset: 100,
      throttle: 250,
      unload: false,
      callback: function (element, op) {
        console.log(element, 'has been', op + 'ed')
      }
    });
</script>
</body>
</html>