<html lang="zh-cmn-Hans"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>操作成功</title>
    <link rel="stylesheet" href="/Static/Mall/WAP/Css/weui.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv='Refresh' content='{$waitSecond};URL={$jumpUrl}'/>
</head>
<body>
    <div class="container" id="container"><div class="msg">
<div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
    <div class="weui_text_area">
        <h2 class="weui_msg_title">{$msgTitle}{$message}</h2>
        正在{$waitSecond} 秒后为您转向基本配置页面，如果不想等待请点击 <a href="{$jumpUrl}">这里</a> 关闭 
    </div>
</div>
</div></div>
    



</body></html>