<style>
    .ncsc-form-goods .form-group {
        font-size: 0;
        line-height: 20px;
        clear: both;
        padding: 0;
        margin: 0;
        border-bottom: solid 1px #E6E6E6;
        overflow: hidden;
    }
    .ncsc-form-goods .form-group label {
        font-size: 12px;
        line-height: 30px;
        color: #333;
        vertical-align: top;
        letter-spacing: normal;
        word-spacing: normal;
        text-align: right;
        display: inline-block;
        width: 13%;
        padding: 8px 1% 8px 0;
        margin: 0;
    }
    .ncsc-form-goods .form-group .radio,.ncsc-form-goods .form-group .checkbox, .ncsc-form-goods .form-group .col-sm-4  {
        font-size: 12px;
        line-height: 30px;
        vertical-align: top;
        letter-spacing: normal;
        word-spacing: normal;
        display: inline-block;
        width: 84%;
        padding: 8px 0 8px 1%;
        border-left: solid 1px #E6E6E6;
    }
</style>
<div class="main-content" id="mainContent">
    <ul class="add-goods-step">
        <li><i class="icon icon-list-alt"></i>
            <h6>STEP.1</h6>
            <h2>选择商品分类</h2>
            <i class="arrow icon-angle-right"></i></li>
        <li class="current"><i class="icon icon-edit"></i>
            <h6>STEP.2</h6>
            <h2>填写商品详情</h2>
            <i class="arrow icon-angle-right"></i></li>
        <li><i class="icon icon-camera-retro "></i>
            <h6>STEP.3</h6>
            <h2>上传商品图片</h2>
            <i class="arrow icon-angle-right"></i></li>
        <li><i class="icon icon-ok-circle"></i>
            <h6>STEP.4</h6>
            <h2>商品发布成功</h2>
        </li>
    </ul>

    <div class="item-publish">
        <form method="post" id="myform" name="myform" action="{:U('Goods/savenew')}">
            <div class="ncsc-form-goods">
                <h3>商品基本信息</h3>
                <dl>
                    <dt>商品分类：</dt>
                    <dd id="gcategory">{$gc_name_path}
                        <a class="ncsc-btn" href="{:U('Goods/selectClass',array('goods_id'=>$goods_info['goods_id']))}">编辑</a>
                        <input name="gc_id" value="{$gc_id}" class="text" type="hidden">
                        <input name="gc_id_path" value="{$gc_id_path}" class="text" type="hidden">

                    </dd>
                </dl>

                {:fastModule('form-group',array('消费类型'),array('radio','consumption_type',array(array('现金',1,$goods_info['consumption_type'],1),array('一卷通',2,$goods_info['consumption_type'],1),array('购物券',3,$goods_info['consumption_type'],1)),'','','radio'))}
                {:fastModule('form-group',array('支付类型'),array('checkbox',['is_cash','is_yqt','is_gwq'],array(array('现金',1,$goods_info['is_cash'],1),array('一卷通',1,$goods_info['is_yqt'],1),array('购物券',1,$goods_info['is_gwq'],1)),'','','checkbox'))}
                {:fastModule('form-group',array('赠送购物券'),array('text','gwq_send',$goods_info['gwq_send']))}
                {:fastModule('form-group',array('额外赠送购物券'),array('text','gwq_extra',$goods_info['gwq_extra']))}
                {:fastModule('form-group',array('可用一卷通数额[购买此商品能用最大值]'),array('text','yjt_can',$goods_info['yjt_can']))}
                {:fastModule('form-group',array('可用购物券数额[购买此商品能用最大值]'),array('text','gwq_can',$goods_info['gwq_can']))}
                {:fastModule('form-group',array('捐赠数额'),array('text','love_amount',$goods_info['love_amount']))}
                <script type="text/javascript">
                    if({$goods_info.consumption_type}==2)
                    {
                        $("input[type=radio][name='consumption_type'][value='2']").attr("checked",'checked');
                        $("input[type=radio][name='consumption_type'][value='3']").attr("checked",false);
                    }
                    if({$goods_info.consumption_type}==3)
                    {

                        $("input[type=radio][name='consumption_type'][value='3']").attr("checked",'checked');
                        $("input[type=radio][name='consumption_type'][value='2']").attr("checked",false);

                    }
                    var consumption_type = $('input[name="consumption_type"]');
/*
                    for(i=0;i<consumption_type.length;i++)
                    {
                        $("input[type=checkbox][name=is_yqt]").attr('checked',true);
                        $("input[type=checkbox][name=is_cash]").attr('checked',false);
                        $("input[type=checkbox][name=is_gwq]").attr('checked',false);
                        if($(consumption_type[i]).attr('value')=='1')
                        {
                            $(consumption_type[i]).attr('disabled','disabled');
                        }
                        if($(consumption_type[i]).attr('value')=='2')
                        {
                            $(consumption_type[i]).attr('checked','checked');
                            $("input[type=checkbox][name=is_yqt]").attr('checked','checked');
                            $("input[type=checkbox][name=is_cash]").attr('disabled','disabled');
                            $("input[type=checkbox][name=is_gwq]").attr('disabled','disabled');
                        }
                        if($(consumption_type[i]).attr('value')=='3')
                        {
                            $(consumption_type[i]).attr('checked','checked');
                            $("input[type=checkbox][name=is_yqt]").attr('checked','checked');
                            $("input[type=checkbox][name=is_cash]").attr('disabled','disabled');
                            $("input[type=checkbox][name=is_gwq]").attr('checked','checked');
                        }
                    }
                    */
                    if($('input[name="consumption_type"]').val()=="2"){

                        $("input[type=checkbox][name=is_yqt]").removeAttr('disabled');
                        $("input[type=checkbox][name=is_yqt]").prop('checked',true);
                        $("input[type=checkbox][name=is_gwq]").attr('checked',false);
                        $("input[type=checkbox][name=is_gwq]").attr('disabled','disabled');
                    }
                    if($('input[name="consumption_type"]').val()=="3"){
                        $("input[type=checkbox][name=is_gwq]").removeAttr('disabled');
                        $("input[type=checkbox][name=is_yqt]").removeAttr('disabled');
                        $("input[type=checkbox][name=is_yqt]").attr('checked',true);
                        $("input[type=checkbox][name=is_gwq]").prop('checked',true);
                    }
                    consumption_type.change(function() {
                        if($(this).val()=="2"){
                            $("input[type=checkbox][name=is_yqt]").removeAttr('disabled');
                            $("input[type=checkbox][name=is_yqt]").prop('checked',true);
                            $("input[type=checkbox][name=is_gwq]").attr('checked',false);
                            $("input[type=checkbox][name=is_gwq]").attr('disabled','disabled');
                        }
                        if($(this).val()=="3"){
                            $("input[type=checkbox][name=is_gwq]").removeAttr('disabled');
                            $("input[type=checkbox][name=is_yqt]").removeAttr('disabled');
                            $("input[type=checkbox][name=is_yqt]").attr('checked',true);
                            $("input[type=checkbox][name=is_gwq]").prop('checked',true);
                        }
                    });
                </script>
                <!--<dl>-->
                <!--<dt class="required"><i class="required">*</i>商品属性：</dt>-->
                <!--<dd id="attr_values_div"> </dd>-->
                <!--</dl>-->
                <dl>
                    <dt class="required"><i class="required">*</i>商品名称：</dt>
                    <dd>
                        <input name="goods_name" type="text" class="text w400" value="{$goods_info.goods_name}" />
                        <span></span>
                        <p class="hint">商品标题名称长度至少3个字符，最长50个汉字</p>
                    </dd>
                </dl>
                <dl>
                    <dt class="required">广告词：</dt>
                    <dd>
                        <input name="small_name" type="text" class="text w400" value="{$goods_info.small_name}" />
                        <span></span>
                        <p class="hint">广告词最长不能超过50个汉字</p>
                    </dd>
                </dl>
                <dl>
                    <dt><i class="required">*</i>市场价：</dt>
                    <dd>
                        <input name="market_price" type="text" class="text w60" value="{$goods_info.market_price}" />
                        <em class="add-on"><i class="icon-renminbi"></i></em> <span></span>
                        <p class="hint">价格必须是0.01~9999999之间的数字，此价格仅为市场参考售价，请根据该实际情况认真填写。</p>
                    </dd>
                </dl>

                <!-- 				<dl> -->
                <!-- 					<dt>商家货号：</dt> -->
                <!-- 					<dd> -->
                <!-- 						<p> -->
                <!-- 							<input name="goods_sn" value="" type="text"  class="text"  /> -->
                <!-- 						</p> -->
                <!-- 						<p class="hint">商家货号是指商家管理商品的编号，买家不可见<br/> -->
                <!-- 							最多可输入20个字符，支持输入中文、字母、数字、_、/、-和小数点</p> -->
                <!-- 					</dd> -->
                <!-- 				</dl> -->
                <include file="Goods:extend"/>
                <include file="Goods:images"/>
                <h3>商品详情描述</h3>
                <include file="Goods:brand2"/>
                <dl>
                    <dt>商品描述：</dt>
                    <dd> {:R('General/Editor/kindEditor',array('','goods_desc','goods_desc',$goods_info['goods_desc'],'module=Mall'))} </dd>
                </dl>

                <!--transport info begin-->
                <h3>商品物流信息</h3>
                <dl>
                    <dt>商品重量：</dt>
                    <dd>
                        <p>
                            <input name="goods_weight" type="text" class="text w60" value="{$goods_info.goods_weight}" />
                            <em class="add-on"><i class="">kg</i></em> <span></span> </p>
                    </dd>
                </dl>
                <dl>
                    <dt>运费：</dt>
                    <dd>
                        <ul class="ncsc-form-radio-list">
                            <li>
                                <input id="freight_1" name="freight_type" class="radio" type="radio" <empty name="goods_info.freight_type">checked="checked" <else/> <if condition="$goods_info.freight_type eq 1">checked="checked"</if> </empty> value="1" >
                                <label for="freight_1">固定运费</label>
                                <div >
                                    <input class="w50 text" name="freight" type="text" value="{$goods_info.freight}" >
                                    <em class="add-on"><i class="icon-renminbi"></i></em> </div>
                            </li>
                            <li>
                                <input id="freight_2" name="freight_type" class="radio" type="radio"  <if condition="$goods_info.freight_type eq 2"> checked="checked" </if> value="2">
                                <label for="freight_2">使用运费模板</label>
                                <!-- 								<div> -->
                                <!-- 									<input id="transport_id" type="hidden" value="" name="transport_id"> -->
                                <!-- 									<input id="transport_title" type="hidden" value="" name="transport_title"> -->
                                <!-- 									<span id="postageName" class="transport-name" ></span><a href="JavaScript:void(0);" onClick="window.open('index.php?act=store_transport&type=select')" class="ncsc-btn" id="postageButton"><i class="icon-truck"></i>选择运费模板</a> -->
                                <!-- 								</div> -->
                            </li>
                        </ul>
                        <p class="hint">运费设置为 0 元，前台商品将显示为免运费。</p>
                    </dd>
                </dl>
                <!--transport info end-->
                <!-- 				<h3>发票信息</h3> -->
                <!-- 				<dl> -->
                <!-- 					<dt>是否开增值税发票：</dt> -->
                <!-- 					<dd> -->
                <!-- 						<ul class="ncsc-form-radio-list"> -->
                <!-- 							<li> -->
                <!-- 								<label> -->
                <!-- 									<input name="g_vat" value="1"  type="radio" /> -->
                <!-- 									是</label> -->
                <!-- 							</li> -->
                <!-- 							<li> -->
                <!-- 								<label> -->
                <!-- 									<input name="g_vat" value="0" checked="checked"  type="radio"/> -->
                <!-- 									否</label> -->
                <!-- 							</li> -->
                <!-- 						</ul> -->
                <!-- 						<p class="hint"></p> -->
                <!-- 					</dd> -->
                <!-- 				</dl> -->
                <h3>其他信息</h3>
                <dl>
                    <dt>本店分类：</dt>
                    <dd>
                        <select name="store_class_id">
                            <option value="">请选择...</option>
                            <volist name="class_list" id="sc">
                                <option value="{$sc.sc_id}" <if condition="$goods_info.store_class_id eq $sc['sc_id']"> selected="selected" </if> >{$sc.sc_name}</option>
                                <volist name="sc._child" id="scc">
                                    <option value="{$scc.sc_id}" <if condition="$goods_info.store_class_id eq $scc['sc_id']"> selected="selected" </if> >|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|——{$scc.sc_name}</option>
                                </volist>
                            </volist>
                        </select>
                    </dd>
                </dl>
                <dl>
                    <dt>单品库存（非多规格）</dt>
                    <dd>
                        <input type="text" class="form-control" name="stock" value="<if condition='goods_info'>{$goods_info.stock}<else />1000</if>" />
                    </dd>

                </dl>
                <?php if ($goods_info && $goods_info['examine_status'] == 1) { ?>
                <dl>
                    <dt>商品发布：</dt>
                    <dd>
                        <ul class="ncsc-form-radio-list">
                            <li>
                                <label>
                                    <input name="is_on_sale" value="1" type="radio" <empty name="goods_info.is_on_sale">checked="checked" <else/> <if condition="$goods_info.is_on_sale eq 1">checked="checked"</if> </empty> />
                                    立即发布 </label>
                            </li>
                            <li>
                                <label>
                                    <input name="is_on_sale" value="0" type="radio"  <if condition="$goods_info.is_on_sale heq 0">checked="checked"</if>/>
                                    放入仓库 </label>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <?php } ?>
                <dl>
                    <dt>商品推荐：</dt>
                    <dd>
                        <ul class="ncsc-form-radio-list">
                            <li>
                                <label>
                                    <input name="store_tuijian" value="1" checked="checked"  type="radio" <empty name="goods_info.store_tuijian">checked="checked" <else/> <if condition="$goods_info.store_tuijian eq 1">checked="checked"</if> </empty> />
                                    是</label>
                            </li>
                            <li>
                                <label>
                                    <input name="store_tuijian" value="0"  type="radio" <if condition="$goods_info.store_tuijian heq 0">checked="checked"</if> />
                                    否</label>
                            </li>
                        </ul>
                        <p class="hint">被推荐的商品会显示在店铺首页</p>
                    </dd>
                </dl>
            </div>
            <div class="bottom tc hr32">
                <label class="submit-border">
                    <input type="button" class="submit" value="保存" onclick="submitForm()"/>
                </label>
            </div>
            <input name="goods_id" value="{$goods_info.goods_id}" type="hidden"/>
            <input name="store_id" id="store_id" value="{$goods_info.store_id}" type="hidden"/>
        </form>
    </div>
</div>
<script type="text/javascript" src="/Static/Common/jQuery/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/Static/Common/Js/perfect-scrollbar.min.js"></script>
<script src="/Static/Common/Js/localResizeIMG.js"></script>
<script type="text/javascript" src="/Static/Seller/Js/step2.js"></script>
