
<style type="text/css">
	label {
		display: 	inline-block;
		width: 120px;
	}
	form div {
		float: 	left;	
		margin: 15px 20px;
		width: 100%;
	}
</style>
<div class="wrapper">
	<div class="content-wrapper" id="main"> 
		<section class="content-header">
		<div class="row">
  			<div class="col-md-11"><h4><small>会员资金变更</small></h4></div>
  			<div class="col-md-1">
  				  			</div>
  		</div>
			</section>
	<form action="" method="post">
		<div>
			<label>用户名：</label>
			<input type="text" name="user_name">
		</div>	
		<div>
			<label>货币类型：</label>
			<select name="type">
				<option value="YJT">一券通</option>
				<option value="GWQ">购物券</option>
			</select>
		</div>	
		<div>
			<label>数额：</label>
			<input type="text" name="amount">
		</div>
		<div>
			<label>操作类型：</label>
			<select name="htype">
				<option value="2">增</option>
				<option value="1">减</option>
			</select>
		</div>

		<div>
			<label>&nbsp;</label>
			<input type="submit" name="" class="btn btn-primary">
		</div>

	</form>
	</div>
</div>



 