<section class="content-header">
	<div class="row">
		<div class="col-md-8">
			<form action="{:U('Finance/settlementList')}" method="get">

				<h4><small>结算统计</small></h4>
				<div class="form-group">
					<select name="store_id" class="form-control inline-block" style="width: 150px; height:30px; float: left;border-color: #d2d6de;font-size:12px;border-radius:3px;">
						<option value="0">选择店铺</option>
						<volist name="store_list" id="sl">
							<option value="{$sl.store_id}" <if condition="$store_id eq $sl['store_id']">selected</if>>{$sl.store_name}</option>
						</volist>
					</select>

					<div class="input-group input-group-sm" style="margin-left:5px;width: 200px;display: inline-flex;">
						<input class="form-control" type="text" name="store_name" value="{$store_name}" placeholder="店铺名称">
						<span class="input-group-btn">
						<button type="submit" class="btn btn-info btn-flat">搜索</button>
						</span>
					</div>
				</div>
	        </form>
		</div>
		<div class="col-md-4 right_menu">
			
		</div>
	</div>
</section>
<section class="content">
<div class="box">
	<div class="box-body">
	<table class="table table-bordered table-striped">
           	<thead>
               	<tr>
                       <th class="table-textcenter">店铺名称</th>
                       <th class="table-textcenter">收款账号（支付宝）</th>
                       <th class="table-textcenter">收款人</th>
                       <th class="table-textcenter">应结款项</th>
                       <th class="table-textcenter">实结款项</th>
                       <th class="table-textcenter">未结款项</th>
                       <th class="table-textcenter" width="15%">操作</th>
                 </tr>
               </thead>
               <tbody>
                   <volist name="list" id="vo">
           		<tr>
           			<td class="table-textcenter">{$vo.store_name}</td>
               		<td class="table-textcenter">{$vo.bank_account_number}</td>
               		<td class="table-textcenter">{$vo.bank_account_name}</td>
                    <td class="table-textcenter">{$vo.settlement_total}</td>
                    <td class="table-textcenter">{$vo.settlement_already}</td>
                    <td class="table-textcenter">{$vo.settlement_no}</td>
                    <td class="table-textcenter">
						<a class="btn btn-warning btn-xs" href="{:U('Finance/settlement_detail?store_id='.$vo['store_id'])}" target="_blank">明细</a>
                    	<a class="btn btn-info btn-xs" href="{:U('Finance/settlement?store_id='.$vo['store_id'])}" target="_blank">结算</a>
                   </td>
               	</tr>
                   </volist>
               </tbody>
           </table>  
	</div>
	<div class="box-footer clearfix">
		<ul class="pagination pagination-sm no-margin pull-right">
			{$page}
		</ul>
	</div>
</div>
</section>