<!doctype html>
<html>
<head>
<title>{$Think.lang.welcome}</title>
<include file="Public:head"/>
</head>
<body>
<header class="bar bar-nav">
	<a class="icon icon-me pull-left open-panel" href="{:U('Member/index')}"></a>
	<h1 class="title">个人中心</h1>
</header>
<div class="content infinite-scroll infinite-scroll-bottom" data-distance="100">
	<div class="list-block">
		<ul class="list-container">
			<volist name="list" id="ml">
				<li class="item-content">
					<div class="item-inner row">
						<div class="col-33">{$ml.username}</div>
						<div class="col-33">{$ml.mobile}</div>
						<div class="col-33">
											<switch name="type">
						<case value="1">
							<button type="button" class="button button-fill" onclick="Activate(this,'{:U('Reward/activate?uid='.$ml['uid'])}')" name="Activate">激活</button>
						</case>
						<case value="2"><a class="button button-fill" href="{:U('BC/assistBuy',array('activate_id'=>$ml['uid']))}">协助购买</a></case>
						<default/>
					</switch>
						
						</div>
					</div>
				</li>
			</volist>
		</ul>
	</div>
	<input id="p" type="hidden" value="1">
	<!-- 加载提示符 -->
	<div class="infinite-scroll-preloader" style="display:none;">
		<div class="preloader"></div>
	</div>
</div>
<script>
function Activate(current,url){
	$(current).attr("disabled","disabled");
	window.location.href=url;
}
</script>
</body>
</html>