<section class="content-header">
		<div class="row">
  			<div class="col-md-11">
  				<h4><small><?php
	if ($apply_level) {
		echo $apply_level == 1?"配送员":"配送主管";
	} else {
		echo "配送申请";
	}
?>列表</small></h4>
				<?php
					if (empty($apply_level)) {
						?>
				<ul class="nav nav-pills">
					<li <if condition="$status eq 1"> class="active" </if> ><a class="ng-binding" href="{:U('Member/deliver_apply?status=1')}" >已达标</a></li>
					<li <if condition="$status eq 3"> class="active" </if> ><a class="ng-binding" href="{:U('Member/deliver_apply?status=3')}" >未达标</a></li>
					<li <if condition="$status eq 2"> class="active" </if> ><a class="ng-binding" href="{:U('Member/deliver_apply?status=2')}" >待审核</a></li>
				</ul>
				<?php
					}
				?>


  			</div>
  			<div class="col-md-1">
  			</div>
  		</div>
</section>
<section class="content">
	<div class="box">
		<div class="box-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="table-textcenter">流水号</th>
						<th class="table-textcenter">用户名</th>
						<th class="table-textcenter">申请级别</th>
						<th class="table-textcenter">联系电话</th>
						<th class="table-textcenter">联系地址</th>
						<th class="table-textcenter">申请时间</th>
						<th class="table-textcenter">审核时间</th>
						<th class="table-textcenter">操作</th>
					</tr>
				</thead>
				<tbody>
					<volist name="list" id="vo">
						<tr>
							<td class="table-textcenter">{$vo.apply_no}</td>
							<td class="table-textcenter">{$vo.username}</td>
							<td class="table-textcenter">
							<switch name="vo.apply_level">
								<case value="1">配送员</case>
								<case value="2">派送主管</case>
							</switch>
							</td>
							<td class="table-textcenter">{$vo.mobile}</td>
							<td class="table-textcenter">{$vo.address}</td>
							<td class="table-textcenter">{$vo.apply_time|date="Y-m-d H:i:s",###}</td>
							<td class="table-textcenter"><empty name="vo.examine_time">----/----<else/>{$vo.examine_time|date="Y-m-d H:i:s",###}</empty></td>
							<td class="table-textcenter">
								<switch name="vo.status">
									<case value="1">已通过</case>
									<case value="2"><a href="javascript:;" class="examine" data-value="{$vo.apply_no}">审核</a> </case>
									<case value="3">未通过</case>
								</switch>
							</td>
						</tr>
					</volist>
				</tbody>
			</table>
		</div>
		<div class="box-footer clearfix">
			<ul class="pagination pagination-sm no-margin pull-right">
				{$page}
			</ul>
		</div>
	</div>
</section>

<div class="modal fade" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">审核配送员</h4>
			</div>
			<div class="modal-body">
				<form name="myform" id="myform" class="form-horizontal" action="{:U('Member/deliver_examine')}" method="post">
					<div class="box-body">
						<div class="form-group">
							<label class="col-sm-2 control-label">审核意见</label>
							<div class="col-sm-8">
								<div class="radio">
									<label>
										<input name="status" value="1" type="radio" checked="checked">
										通过
									 </label>
									<label>
										<input name="status" value="3" type="radio">
										驳回 
									</label>
								</div>
							</div>
						</div>
					</div>
					<input name="apply_no" type="hidden" value=""/>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-primary" id="tijiao">提交</button>
			</div>
		</div>
	</div>
</div>
<script>
$(".examine").click(function(){
	$("input[name='apply_no']").val($(this).attr("data-value"));
	$("#myModal").modal('show');
});
$("#tijiao").click(function(){
	var join_fee = $("input[name='join_fee']").val();
	var status = $("input[name='status']:checked").val();
	if(status == 1){
		$("#myform").submit();
	}else{
		$("#myform").submit();
	}
	
});

</script>

