<div class="main-content" id="mainContent">
	<div class="tabmenu">
		<ul class="tab pngFix">
			<li class="active">
				<a href="#">申请列表</a></li>
		</ul>
		<a href="{:U('Brand/apply')}" class="ncsc-btn ncsc-btn-green" title="发布新商品"> 添加申请</a> </div>
	<table class="ncsc-table-style">
		<thead>
			<tr>
				<th class="">品牌名称</th>
				<th class="">logo</th>
				<th class="">状态</th>
				<th class="">操作</th>
			</tr>
		</thead>
		<tbody>
			<volist name="list" id="gl">
				<tr>
					<td class="trigger">
						{$gl.brand_name}
					</td>
					<td>
						<div class="pic-thumb">
							<img  src="/Uploads/Mall/Brand/{$gl.brand_logo}" />
						</div>
					</td>
					<td class="tl">
						<?php
							switch($gl['status']) {
								case "0":
									$status = "审核中";
								break;
								case "1":
									$status = "审核通过";
								break;
								case "2":
									$status = "审核驳回";
								break;
							}
						?>
						<?php echo $status; ?>
					</td>
					<td>
						&nbsp;
					</td>
				</tr>
			</volist>
			<tr style="display: none;">
				<td colspan="20"><div class="ncsc-goods-sku ps-container"></div></td>
			</tr>
		</tbody>
		<!--<tfoot>
						<tr>
							<th class="tc"><input type="checkbox" id="all2"
								class="checkall" /></th>
							<th colspan="10"><label for="all2">全选</label> <a
								href="javascript:void(0);" nc_type="batchbutton"
								uri="http://192.168.1.168:9017/shop/index.php?act=store_goods_online&op=drop_goods"
								name="commonid" confirm="您确定要删除吗?" class="ncsc-btn-mini"><i
									class="icon-trash"></i>删除</a> <a href="javascript:void(0);"
								nc_type="batchbutton"
								uri="http://192.168.1.168:9017/shop/index.php?act=store_goods_online&op=goods_unshow"
								name="commonid" class="ncsc-btn-mini"><i
									class="icon-level-down"></i>下架</a>
							</th>
						</tr>
					</tfoot>-->
	</table>
	<div class="g-pagination"> {$page} </div>
</div>