<!DOCTYPE html>
<div id="faq">
  <div class="wrapper">
    <ul>
           <li> <dl class="s1">
      <dt>
        帮助中心      </dt>
                  <dd><i></i><a title="积分兑换说明" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=40"> 积分兑换说明 </a></dd>
            <dd><i></i><a title="我要买" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=9"> 我要买 </a></dd>
            <dd><i></i><a title="如何注册成为会员" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=6"> 如何注册成为会员 </a></dd>
            <dd><i></i><a title="积分细则" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=39"> 积分细则 </a></dd>
            <dd><i></i><a title="忘记密码" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=8"> 忘记密码 </a></dd>
                </dl></li>
               <li> <dl class="s2">
      <dt>
        店主之家      </dt>
                  <dd><i></i><a title="如何申请开店" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=15"> 如何申请开店 </a></dd>
            <dd><i></i><a title="查看售出商品" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=12"> 查看售出商品 </a></dd>
            <dd><i></i><a title="商城商品推荐" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=14"> 商城商品推荐 </a></dd>
            <dd><i></i><a title="如何管理店铺" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=11"> 如何管理店铺 </a></dd>
            <dd><i></i><a title="如何发货" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=13"> 如何发货 </a></dd>
                </dl></li>
               <li> <dl class="s3">
      <dt>
        支付方式      </dt>
                  <dd><i></i><a title="分期付款" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=28"> 分期付款 </a></dd>
            <dd><i></i><a title="公司转账" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=30"> 公司转账 </a></dd>
            <dd><i></i><a title="在线支付" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=17"> 在线支付 </a></dd>
            <dd><i></i><a title="邮局汇款" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=29"> 邮局汇款 </a></dd>
            <dd><i></i><a title="如何注册支付宝" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=16"> 如何注册支付宝 </a></dd>
                </dl></li>
               <li> <dl class="s4">
      <dt>
        售后服务      </dt>
                  <dd><i></i><a title="退换货流程" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=32"> 退换货流程 </a></dd>
            <dd><i></i><a title="退款申请" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=34"> 退款申请 </a></dd>
            <dd><i></i><a title="退换货政策" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=31"> 退换货政策 </a></dd>
            <dd><i></i><a title="返修/退换货" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=33"> 返修/退换货 </a></dd>
            <dd><i></i><a title="联系卖家" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=26"> 联系卖家 </a></dd>
                </dl></li>
               <li> <dl class="s5">
      <dt>
        客服中心      </dt>
                  <dd><i></i><a title="会员修改密码" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=18"> 会员修改密码 </a></dd>
            <dd><i></i><a title="商品发布" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=20"> 商品发布 </a></dd>
            <dd><i></i><a title="会员修改个人资料" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=19"> 会员修改个人资料 </a></dd>
            <dd><i></i><a title="修改收货地址" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=21"> 修改收货地址 </a></dd>
                </dl></li>
               <li> <dl class="s6">
      <dt>
        关于我们      </dt>
                  <dd><i></i><a title="联系我们" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=23"> 联系我们 </a></dd>
            <dd><i></i><a title="合作及洽谈" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=25"> 合作及洽谈 </a></dd>
            <dd><i></i><a title="关于ShopNC" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=22"> 关于ShopNC </a></dd>
            <dd><i></i><a title="招聘英才" href="http://192.168.1.168:9017/shop/index.php?act=article&amp;op=show&amp;article_id=24"> 招聘英才 </a></dd>
                </dl></li>
        </ul>
      </div>
</div>