<header class="ncsc-head-layout w">
	<div class="wrapper">
		<div class="ncsc-admin">
			<dl class="ncsc-admin-info">
				<dt class="admin-avatar"> 
					<img src="/Static/Seller/Images/default_user_portrait.gif" width="32" class="pngFix" alt="" />
				</dt>
				<dd class="admin-permission">当前用户</dd>
				<dd class="admin-name">{$Think.session.username}</dd>
			</dl>
			<div class="ncsc-admin-function"> 
				<a href="/" target="_blank" title=""><i class="icon-home"></i></a>
				<a href="" title="站内消息" class="pr" target="_blank"><i class="icon-envelope-alt"></i><em>0</em></a>
				<a href="" title="修改密码"><i class="icon-wrench"></i></a>
				<a href="{:U('Public/logout')}" title="安全退出"><i class="icon-signout"></i></a>
			</div>
		</div>
		<div class="center-logo"> <a href="/S" target="_blank"><img
				src="/Static/Common/Images/system_logo.png" class="pngFix" alt="" /></a>
			<h1>商家中心</h1>
		</div>
		<nav class="ncsc-nav">
			<volist name="module_list" id="module">
				<dl>
					<dt> <a href="{$module.url}">{$module.lang}</a> </dt>
					<dd class="arrow"></dd>
				</dl>
			</volist>
		</nav>
	</div>
</header>
