@CHARSET "UTF-8";
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, "Microsoft YaHei" !important;
}
body{font-size: 12px;}
a ,a:ACTIVE,a:HOVER,a:FOCUS{color: #000;}
.skin-blue .main-sidebar{background-color: #293038;}
.skin-blue .wrapper{background-color: #fff;}
/* .wrapper{background-color: #fff;} */
.skin-blue .main-header .navbar{background-color:#3880f5;margin-left: 180px; }
.skin-blue .main-header .logo{background-color: #3374de;}
.content-wrapper, .right-side{background: #fff;}
.content-header h4{border-left: 2px solid #88B7E0;text-indent:8px;color: #777;display:inline-block;margin-right: 15px;}
.content-header h4 small{font-size: 95%;}
.box{box-shadow:unset;border-radius:0;border-top:1px solid #f4f4f4;}
.box-body{padding: 10px 0 10px 0;} 
.table-textcenter{text-align: center;}
.skin-blue .sidebar a{color: #fff;}
.skin-blue .treeview-menu > li > a{color: #fff;}
.btn-social-icon{height:22px;width: 22px;}
.btn-social-icon > :first-child{line-height:22px;font-size: 16px;}
.sidebar-menu .treeview-menu > li > a{font-size: 12px;}
.main-header .logo,.main-sidebar, .left-side{width: 180px;}
.content-wrapper, .right-side{margin-top: 0;}
.main-header > .navbar,.content-wrapper, .right-side, .main-footer{margin-left:0;}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{vertical-align: middle;}
.label{font-size: 12px;}
.btn{border-radius:0;border: 0;}
.btn-primary {background-color: #3880f5;border-color: #3880f5;}
.btn-primary:hover, .btn-primary:active, .btn-primary.hover{background-color: #3374de;border-color: #3374de;}
.file-input{width:99%;margin: 0 auto;}
.alert-success {
    color: #090 !important;
    background-color: #F2FFEA !important;
    border-color: #C7DDB9 !important;
}
.nav-pills {
    display: inline-block;
    vertical-align: bottom;
}
.nav-pills li a, .nav-pills li a:focus, .nav-pills li button, .nav-pills li button:focus {
    padding: 6px 12px;
    border-radius: 0px;
    border: 1px solid #D9DEE4;
    background-color: #D9DEE4;
    color: #666;
    line-height: 20px;
    height: 32px;
    margin-left: 2px;
}
.nav-pills li.active a, .nav-pills li.active a:hover, .nav-pills li.active a:focus, .nav-pills li.active button, .nav-pills li.active button:hover, .nav-pills li.active button:focus {
    border: 1px solid #546478;
    background-color: #546478;
    color: #FFFFFF;
}
.right_menu{padding-top:7px;}
.right_menu .btn{float: right;margin-right:10px; }